<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>Primeira Página HTML Com Thymeleaf</title>
</head>
<body>
    <p th:text="${mensagemDaController}"/>

    <form th:action="@{/create}" method="post" th:object="${candidato}">
        Nome: <input type="text" name="nome"/>
        <br/>
        Email: <input type="email" name="email"/>
        <br/>
        Usuario: <input type="text" name="usuario"/>
        <br/>
        <button>Cadastrar Candidato</button>
    </form>
</body>
</html>